.navbar {
  background-color: #012442;
  color: white;
}
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
  background: #012442;
  border-radius: 0%;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}
strong {
  color: #e4b53b;
}

h1 {
  color: white;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.texto-preto {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.texto-preto:hover {
  text-decoration: none;
  color: grey;
}

.btncor{
    background-color: #1c1c1c;
    color: white;
}


.btn {
  background-color: #012442;
  color: white;
}

.btn:hover{
    background-color:#1c1c1c;
    color: white;
}

.row {
  justify-content: space-around;
}

.link-botao {
  text-decoration: none;
  color: white;
}

.link-botao:hover {
  color: white;
  text-decoration: none;
}

.album {
  background: #e8e8e8;
}

.footer {
  background: #1c1c1c;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.footer p {
  margin-bottom: 0.15rem;
  text-align: center !important;
  color: white;
}

::-webkit-scrollbar {
  background-color: #1c1c1c;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #f9a826;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
